@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Playwrite+RO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*"Comic Relief", system-ui*/
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Playball&family=Playwrite+NZ+Guides&family=Playwrite+RO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-i-opacity: 0.5;
  --primary-color: #96bb7c;
  --secondary-color: #f8f9fa;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.headerSection .navBar .activeNav {
  color: var(--primary-color);
}

.headerSection {
  position: fixed;
  z-index: 111111;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

header.sticky {
  height: 70px;
  padding: 5px 50px;
  background-color: #f4fcff;
}

/*  */
.navbackgroundBehind {
  padding: 25px 0px;
}
/*  */

.headerSection .navBar ul {
  display: flex;
  gap: 20px;
}

.headerSection .navBar ul li a {
  color: #000;
  font-weight: 700;
  transition: color 0.3s ease;
  position: relative;
  font-size: 1.1rem;
}

.headerSection .navBar ul li a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.headerSection .navBar ul li a:hover::after {
  width: 100%;
}

.headerSection .contactBtnOfNav {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.insideTheNavBar-SM {
  display: none;
}

.headerSection .menuToggle {
  display: none;
}

.headerSection .navBar .schoolNameInsideTheNav {
  display: none;
}

@media screen and (max-width: 751px) {
  .insideTheNavBar-SM {
    display: block;
  }

  .outsideTheNavBar-LV {
    display: none;
  }

  .headerSection .navBar {
    background-color: var(--secondary-color);
    position: fixed;
    top: 50%;
    left: -5555px;
    width: 0%;
    height: 100%;
    padding: 20%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    z-index: 11111;
  }
  .headerSection .navBar.navbarDisplayForSmallD {
    left: 50%;
    width: 100%;
  }
  .headerSection .navBar ul {
    flex-direction: column;
  }

  .headerSection .navBar ul li {
    border-bottom: 1px solid #000;
  }

  .headerSection .navBar .insideTheNavBar-SM {
    text-align: center;
  }

  .headerSection .navBar .schoolNameInsideTheNav {
    display: block;
    position: absolute;
    bottom: 95px;
    color: #000;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-decoration: underline;
  }

  .headerSection .menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: -90px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    z-index: 1111111;
    box-shadow: 0px 0px 1px 1px;
  }
  .headerSection .menuToggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0px 7px 0px #000;
  }
  .headerSection .menuToggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(5px);
    transition: 0.5s;
  }
  .headerSection .menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 red;
    background-color: red;
  }
  .headerSection .menuToggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    background-color: red;
    box-shadow: 0 0 0 red;
  }
}

/* Header Section End CSS */

/* Hero section Start CSS */

.heroSection {
  padding-top: 55px;
}

.heroSection .heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary-color);
  position: relative;
}

.heroSection .heroContent .bg-1 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 15%;
  left: 10%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}

.heroSection .heroContent .bg-2 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 50%;

  left: 5%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}

.heroSection .heroContent .bg-3 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 35%;
  left: 50%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}

.heroSection .heroContent .bg-4 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 65%;
  left: 55%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}
.heroSection .heroContent .bg-5 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 35%;
  left: 30%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}
.heroSection .heroContent .bg-6 {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 75%;
  left: 25%;
  opacity: var(--bg-i-opacity);
  transition: 3s;
}

.heroSection .heroContent .leftHeroContent h2 {
  font-size: 2.2rem;
}
.heroSection .heroContent .leftHeroContent p {
  font-size: 1.5rem;
}

.heroSection .heroContent .leftHeroContent .hero-btn {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.heroSection .heroContent .leftHeroContent .hero-btn .btn,
.heroSection .heroContent .leftHeroContent .hero-btn .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  font-family: "Cascadia Code", sans-serif;
  background-color: #96bb7c;
  border-radius: 5px;
  padding: 0px 5px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
  border: #96bb7c 2px solid;
}

.heroSection .heroContent .leftHeroContent .hero-btn .btn2 {
  background-color: #fafafa;
  border: #96bb7c 2px solid;
  color: #96bb7c;
}

.heroSection .heroContent .leftHeroContent .hero-btn .btn:hover {
  background-color: #fff;
  color: #96bb7c;
}

.heroSection .heroContent .leftHeroContent .hero-btn .btn.hovered {
  background-color: #fff;
  color: #96bb7c;
}

.heroSection .heroContent .leftHeroContent .hero-btn .btn2.hovered {
  background-color: #96bb7c;
  color: #fff;
}
.heroSection .heroContent .leftHeroContent .hero-btn .btn2:hover {
  background-color: #96bb7c;
  color: #fff;
}

@media screen and (max-width: 1295px) {
  .heroSection .heroContent .leftHeroContent h2 {
    font-size: 1.8rem;
  }
  .heroSection .heroContent .leftHeroContent p {
    font-size: 1.3rem;
  }
  .heroSection .heroContent .rightHeroContent {
    width: 400px;
    height: 350px;
  }
  .heroSection .heroContent .rightHeroContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.heroSection .heroContent .rightHeroContent {
  width: 650px;
  height: 550px;
}

.heroSection .heroContent .rightHeroContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 851px) {
  .heroSection .heroContent {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 716px) {
  .heroSection .heroContent .rightHeroContent {
    width: 255px;
    height: 255px;
  }
}

/* Hero section End CSS */

/* Three Boxes Content Start CSS */

.ThreeBoxsOfCompliment {
  position: relative;
  margin-top: -130px;
  background-color: transparent;
  z-index: 1111;
}

.ThreeBoxsOfCompliment .service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.ThreeBoxsOfCompliment .service-card .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1.5rem;
}

.ThreeBoxsOfCompliment .service-card .card .cir-icon {
  background-color: red;
  width: 60px;
  height: 60px;
  padding: 35px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ThreeBoxsOfCompliment .service-card .card {
  display: flex;
  align-items: normal;
}
.ThreeBoxsOfCompliment .service-card .card .service-head {
  margin-top: 1.2rem;
}

.ThreeBoxsOfCompliment .service-card .card strong {
  font-family: "Comic Relief", system-ui;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.ThreeBoxsOfCompliment .service-card .card .service-txt {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.ThreeBoxsOfCompliment .service-card .card .line {
  background-color: red;
  width: 25%;
  height: 7%;
  margin-top: 2px;
}

@media screen and (max-width: 1295px) {
  .ThreeBoxsOfCompliment .service-card .card {
    width: 335px;
    height: 275px;
  }
  .ThreeBoxsOfCompliment .service-card .card strong {
    font-family: "Comic Relief", system-ui;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .ThreeBoxsOfCompliment .service-card .card .service-txt {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
@media screen and (max-height: 600px) {
  .ThreeBoxsOfCompliment {
    margin-top: -50px;
  }
}

@media screen and (max-width: 851px) {
  .ThreeBoxsOfCompliment {
    margin-top: -20px;
  }
}

@media screen and (max-width: 361px) {
  .ThreeBoxsOfCompliment .service-card .card {
    width: 305px;
    height: fit-content;
  }
}

/* Three Boxes Content End CSS */

/* Counting  CSS Starts */

.achivementCount {
  margin-top: 55px;
  background-color: #f8f9fa;
  padding: 40px 25px;
  text-align: center;
  margin-bottom: 55px;
}
.achivementCount .wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.achivementCount .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
}
.achivementCount .container div {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
}
.achivementCount .container div .plusNumCount {
  font-size: 2rem;
  margin-left: 5px;
}
.achivementCount .container .text {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-top: 8px;
}
.achivementCount .container .pLine {
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 80%;
}
@media screen and (max-width: 1253px) {
  .achivementCount .achivementCount .wrapper {
    flex-wrap: wrap;
  }
  .achivementCount .achivementCount .wrapper .container .pLine {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .achivementCount .wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .achivementCount .wrapper .container {
    width: 100%;
  }
  .achivementCount .container div {
    font-size: 2rem;
  }
  .achivementCount .text {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .achivementCount .wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .achivementCount .wrapper .container {
    width: 100%;
  }
  .achivementCount .container div {
    font-size: 1.5rem;
  }
  .achivementCount .text {
    font-size: 0.8rem;
  }
}

/* Counting CSS End */

/* Testinomail CSS Starts */

.containerSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 0 35px;
}
.containerSlider .wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.containerSlider .wrapper i {
  height: 50px;
  width: 50px;
  background: #eee;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.containerSlider .wrapper i:first-child {
  left: -22px;
}
.containerSlider .wrapper i:last-child {
  right: -22px;
}
.containerSlider .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.containerSlider .wrapper .carousel::-webkit-scrollbar {
  display: none;
}
.containerSlider .wrapper .carousel.no-transition {
  scroll-behavior: auto;
}
.containerSlider .wrapper .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.containerSlider .wrapper .carousel.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.containerSlider .wrapper .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #eee;
  border-radius: 8px;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
}
.containerSlider .wrapper .card .img {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  overflow: hidden;
}
.containerSlider .wrapper .card .img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 4px solid #eee;
}
.containerSlider .wrapper .card h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 30px 0 5px;
}
.containerSlider .wrapper .card .reviews {
  font-weight: 400;
  font-size: 0.8rem;
  margin: 30px 0 5px;
  font-family: Poppins, sans-serif;
  font-style: italic;
}
.containerSlider .wrapper .card span {
  color: #6a6d78;
  font-size: 1rem;
  display: none;
}

@media screen and (max-width: 900px) {
  .containerSlider .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .containerSlider .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* Testinomia CSS Ends */

/* Apply btn bg Image CSS Starts */

.bgApplyEnquiryBtn {
  background: linear-gradient(45deg, #0000004d, #00000036),
    url(images/apply.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.bgApplyEnquiryBtn p {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.bgApplyEnquiryBtn a {
  font-size: 1.3rem;
  font-family: Poppins, sans-serif;
  border: 1px solid #fff;
  padding: 2px 8px;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}

.bgApplyEnquiryBtn a:hover {
  background-color: var(--primary-color);
}

/* Apply btn bg Image CSS Ends */

/* Footer Section CSS Starts */

.footerSection {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f4fcff;
}

.footerSection .schoolName {
  width: 35%;
}

.footerSection .schoolName .socioLink {
  margin-top: 1.2rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.footerSection .schoolName .socioLink a i {
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.footerSection .schoolName .socioLink a i:hover {
  color: var(--primary-color);
}

.footerSection .getInTouch {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 25%;
}

.footerSection .getInTouch .getInTouchLine,
.footerSection .quickLinks .quickLinkLine {
  font-size: 1.5rem;
  font-weight: 700;
}

.footerSection .getInTouch a i {
  margin-right: 5px;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.footerSection .quickLinks {
  display: flex;
  flex-direction: column;
}

.footerSection .quickLinks li {
  list-style: circle;
}

.footerSection .newsLetterSubscribe {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 20%;
}

.footerSection .newsLetterSubscribe input {
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
}

.footerSection .newsLetterSubscribe .SubBtn {
  background-color: var(--primary-color);
  text-align: center;
  padding: 5px 3px;
  border-radius: 10px;
  width: 50%;
}

@media screen and (max-width: 1119px) {
  .footerSection {
    flex-wrap: wrap;
  }
  .footerSection .newsLetterSubscribe {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 30%;
  }
}

@media screen and (max-width: 895px) {
  .footerSection .schoolName {
    width: 100%;
  }
  .footerSection .getInTouch {
    width: 100%;
  }
  .footerSection .newsLetterSubscribe {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .footerSection .schoolName {
    width: 100%;
  }
  .footerSection .newsLetterSubscribe {
    width: 100%;
  }
}

/* Footer Section CSS Ends */

/*------------------------------------ Index Page CSS End ----------------------- */

/* Gallery Page Starts CSS */

.gallerySectionWallpaper {
  background: linear-gradient(45deg, #96bb7c, #96bb7c54),
    url(../images/GalleryBgSecondTop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallerySectionWallpaper h2 {
  font-size: 2.2em;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.galleryPhotosSection {
  padding: 15px 20px;
  margin: 100px auto 50px;
  -moz-columns: 300px;
  columns: 300px;
}
.galleryPhotosSection img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.galleryPhotosSection img:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.fullImage {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 111111;
}
.fullImage img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 700px;
}
.fullImage span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  padding: 9px;
  transition: color 0.3s;
}
.fullImage span:hover {
  color: red;
}

/* Gallery - Responsive code */
@media screen and (max-width: 406px) {
  .gallerySectionWallpaper h2 {
    font-size: 1.2em;
  }
} /*# sourceMappingURL=gallery.css.map */

/*Admission Section pagestrat */

.admissionSectionWallpaper {
  background: linear-gradient(45deg, #96bb7c, #96bb7c54),
    url(../images/formImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admissionSectionWallpaper h2 {
  font-size: 2.2em;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.admission-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #d1f2b9);
}

.admission-form .heading {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  margin-left: 100px;
  justify-content: center;
  height: 150px;
  width: 850px;
}

.admission-form .heading .head {
  font-size: 2.5rem;

  font-family: "Lilita One", sans-serif;
}

.admission-form .heading .sub-head {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: rgb(106, 106, 106);
}

.admission-form .form {
  position: relative;
  display: flex;
  width: 550px;
  padding: 10px 20px;
  margin-left: 100px;
}

.admission-form .form .form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.form-group label {
  width: 150px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Comic Relief", system-ui;
}

.form-group input {
  font-size: 18px;
  font-weight: 400;
  font-family: "Comic Relief", system-ui;
  height: 40px;
  width: 300px;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  transition: border 0.3s, box-shadow 0.3s;
}

.form-group textarea {
  font-size: 18px;
  font-weight: 400;
  font-family: "Comic Relief", system-ui;
  height: 100px;
  width: 500px;
  padding: 5px 10px;
  resize: none;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  transition: border 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #cbe4ff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  outline: none;
}

.form-group select {
  width: 300px; /* Full width of the parent container */
  height: 45px; /* Fixed height (adjust as needed) */
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 6px; /* Rounded corners */
  background-color: #fff; /* White background */

  transition: border 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.form-group select:focus {
  border-color: #cbe4ff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  outline: none;
}

.form-group select:hover {
  border-color: #cbe4ff;
}

.form button {
  padding: 0px 12px;
  width: 100px;
  height: 40px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.form form button:hover {
  background: #5d893e;
}

.admission-form img {
  position: absolute;
  right: 0;
  height: 100%;
}

/*Contact us ***************/

.contactSectionWallpaper {
  background: linear-gradient(45deg, #96bb7c, #96bb7c54),
    url(../images/formImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactSectionWallpaper h2 {
  font-size: 2.2em;
  border-bottom: 2px solid #fff;
  color: #fff;
}

/* Medium Devices (Tablets like iPad 820px) */
@media (max-width: 1312px) {
  .admission-form {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  .admission-form .heading {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
    text-align: center;
  }

  .admission-form .form {
    width: 90%;
    margin-left: 0;
    padding: 20px;
    height: auto;
  }

  .form-group {
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
  }

  .admission-form img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .admission-form {
    width: 100%;
  }
  .admission-form .form {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    height: 100%;
  }

  .admission-form .form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .admission-form .form .form-group input {
    width: 100%;
    flex: 1;
  }
}

/* Small Devices (Phones like iPhone 430px) */
@media (max-width: 480px) {
  .admissionSectionWallpaper {
    height: 30vh;
  }

  .admissionSectionWallpaper h2 {
    font-size: 1.5em;
  }

  .admission-form .heading .head {
    font-size: 1.8rem;
  }

  .admission-form .heading .sub-head {
    font-size: 1rem;
  }

  .form button {
    width: 100%;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 16px;
  }

  .footerSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerSection .getInTouch,
  .footerSection .quickLinks,
  .footerSection .newsLetterSubscribe {
    width: 100%;
    padding: 10px 0;
  }
}

/* About Section */

.about {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  background-color: #ffffff;
}

.about h1 {
  font-size: 2.5rem;
  margin-left: 40px;
}

.about .line {
  width: 100px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 2px;
  margin-left: 40px;
}

.about .about1 {
  display: flex;
  flex-direction: column;
}

.about .sub-head {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
}

.about .about-text {
  display: flex;
  width: 100%;
}

.about .about-text .about1-text {
  display: flex;
  justify-content: center;
  width: 600px;
  margin-top: 40px;
  margin-right: 150px;
  margin-left: 50px;
}

.about1-text p {
  font-size: 1.2rem;
  font-weight: 400;
}

.about-text .about1-img {
  width: 400px;
  height: 250px;

  overflow: hidden;
  flex-shrink: 0;
}

.about-text .about1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text2 {
  display: flex;

  width: 100%;
  height: 600px;
  justify-content: center;
}

.about-text2 .about2-text {
  width: 500px;
  margin-right: 30px;
  margin-top: 80px;
  margin-left: 50px;
}

.about2-text p {
  font-size: 1.2rem;
  font-weight: 400;
}

.about2-img {
  width: 400px;
  height: 500px;
  margin-top: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.about2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about3-text {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about3 .about3-text p {
  font-size: 1.2rem;
}

.about-text,
.about-text2,
.footerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Responsive About */
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  .about1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about .about1 .about-text .about1-text {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .about2 {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .about3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
  }

  .about3-text {
    width: 100%;
  }
}

@media screen and (max-width: 652px) {
  .about h1 {
    text-align: center;
    margin: 0;
    padding: 5px 2px;
    margin: 0px 0px;
    font-size: 1.8rem;
  }
  .about .line {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .about .about1 .sub-head {
    text-align: center;
    margin: 0px 0px;
    margin-top: 25px;
    padding: 0 2px;
    font-size: 1.2rem;
  }

  .about .about1 .about-text .about1-img {
    width: 100%;
    height: fit-content;
  }

  .about .about-text2 .about2-text {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  .about .about-text2 .about2-img {
    width: 100%;
    height: fit-content;
  }
  .about .about-text2 .about2-img img {
    width: 100%;
    object-fit: cover;
  }

  .about .about3 .sub-head {
    text-align: center;
    margin-top: -55px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .about .about3 .about3-text {
    text-align: center;
  }
}

@media screen and (max-width: 418px) {
  .about {
    margin: 5px;
    padding: 5px;
  }
  .about .about1 .about-text .about1-text p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .about-text2 {
    height: fit-content;
  }
  .about-text2 .about2-text {
    margin-top: 0px;
  }

  .about-text2 .about2-text p {
    font-size: 0.9rem;
  }

  .about .about3 .about3-text p {
    font-size: 0.9rem;
  }
}

/* Responsive for mobile*/
